* {
  color: rgb(232, 226, 222);
  text-shadow: black 2px 2px 10px;
}

h1 {
  font-family: 'Handlee', cursive;
}

header > * {
  vertical-align: middle;
}

header > h1 {
  font-size: 3em;
  text-align: center;
}

main > h2 {
  font-size: 2em;
  text-align: center;
}

.status {
  font-size: 5em;
  text-align: center;
}

.hours {
  border-collapse: collapse;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 auto;
}

.hours td:nth-child(odd) {
  padding: 5px 10px 5px 5px;
}

.hours td:nth-child(even) {
  padding: 5px 5px 5px 10px;
}

.hours td:last-child {
  text-align: right;
}

.highlight {
  background-color: rgba(97, 207, 255, 0.75);
}

.open {
  color: rgb(165, 214, 167);
}

.closed {
  color: rgb(218, 55, 55);
}

#logo {
  display: block;
  float: none;
  height: 75px;
  margin: 0 auto;
  padding: 25px;
  width: 75px;
}

#image {
  left: 50%;
  position: fixed;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 1200ms ease 800ms;
  -o-transition: opacity 1200ms ease 800ms;
  -webkit-transition: opacity 1200ms ease 800ms;
  transition: opacity 1200ms ease 800ms;
  z-index: -100;
}

@media screen and (min-width : 768px) {
  main {
    width: 50%;
  }

  header > h1 {
    display: inline-block;
  }

  #logo {
    float: left;
    margin: 0;
  }

  .hours td:nth-child(odd) {
    padding: 5px 20px 5px 10px;
  }

  .hours td:nth-child(even) {
    padding: 5px 10px 5px 20px;
  }
}

@media screen and (min-width : 1224px) {
  main {
    width: 35%;
  }
}
